//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 16 00:06:33 2021
//! **************************************************************************

SCHEMATIC START;
COMP "Eseg" LOCATE = SITE "P32" LEVEL 1;
COMP "btnSelect" LOCATE = SITE "P48" LEVEL 1;
COMP "R0" LOCATE = SITE "P126" LEVEL 1;
COMP "R1" LOCATE = SITE "P131" LEVEL 1;
COMP "R2" LOCATE = SITE "P133" LEVEL 1;
COMP "Fseg" LOCATE = SITE "P29" LEVEL 1;
COMP "R3" LOCATE = SITE "P137" LEVEL 1;
COMP "R4" LOCATE = SITE "P139" LEVEL 1;
COMP "R5" LOCATE = SITE "P141" LEVEL 1;
COMP "R6" LOCATE = SITE "P143" LEVEL 1;
COMP "R7" LOCATE = SITE "P2" LEVEL 1;
COMP "R8" LOCATE = SITE "P6" LEVEL 1;
COMP "Gseg" LOCATE = SITE "P27" LEVEL 1;
COMP "ledGreenOB0" LOCATE = SITE "P95" LEVEL 1;
COMP "ledGreenOB1" LOCATE = SITE "P94" LEVEL 1;
COMP "ledGreenOB2" LOCATE = SITE "P93" LEVEL 1;
COMP "ledGreenOB3" LOCATE = SITE "P92" LEVEL 1;
COMP "ledGreenOB4" LOCATE = SITE "P88" LEVEL 1;
COMP "ledGreenOB5" LOCATE = SITE "P87" LEVEL 1;
COMP "ledGreenOB6" LOCATE = SITE "P85" LEVEL 1;
COMP "ledGreenOB7" LOCATE = SITE "P84" LEVEL 1;
COMP "s_swColor" LOCATE = SITE "P66" LEVEL 1;
COMP "Common0" LOCATE = SITE "P44" LEVEL 1;
COMP "Common1" LOCATE = SITE "P43" LEVEL 1;
COMP "Common2" LOCATE = SITE "P33" LEVEL 1;
COMP "Common3" LOCATE = SITE "P30" LEVEL 1;
COMP "Aseg" LOCATE = SITE "P41" LEVEL 1;
COMP "Bseg" LOCATE = SITE "P40" LEVEL 1;
COMP "btnPosition" LOCATE = SITE "P47" LEVEL 1;
COMP "G0" LOCATE = SITE "P124" LEVEL 1;
COMP "Cseg" LOCATE = SITE "P35" LEVEL 1;
COMP "G1" LOCATE = SITE "P127" LEVEL 1;
COMP "G2" LOCATE = SITE "P132" LEVEL 1;
COMP "CLK" LOCATE = SITE "P123" LEVEL 1;
COMP "G3" LOCATE = SITE "P134" LEVEL 1;
COMP "ledRedOB0" LOCATE = SITE "P82" LEVEL 1;
COMP "G4" LOCATE = SITE "P138" LEVEL 1;
COMP "ledRedOB1" LOCATE = SITE "P81" LEVEL 1;
COMP "G5" LOCATE = SITE "P140" LEVEL 1;
COMP "ledRedOB2" LOCATE = SITE "P80" LEVEL 1;
COMP "G6" LOCATE = SITE "P142" LEVEL 1;
COMP "ledRedOB3" LOCATE = SITE "P79" LEVEL 1;
COMP "G7" LOCATE = SITE "P1" LEVEL 1;
COMP "ledRedOB4" LOCATE = SITE "P78" LEVEL 1;
COMP "G8" LOCATE = SITE "P5" LEVEL 1;
COMP "Dseg" LOCATE = SITE "P34" LEVEL 1;
COMP "ledRedOB5" LOCATE = SITE "P75" LEVEL 1;
COMP "ledRedOB6" LOCATE = SITE "P74" LEVEL 1;
COMP "ledRedOB7" LOCATE = SITE "P67" LEVEL 1;
SCHEMATIC END;

