//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 10 13:57:08 2021
//! **************************************************************************

SCHEMATIC START;
COMP "pinG0" LOCATE = SITE "P124" LEVEL 1;
COMP "pinG1" LOCATE = SITE "P127" LEVEL 1;
COMP "pinG2" LOCATE = SITE "P132" LEVEL 1;
COMP "pinG3" LOCATE = SITE "P134" LEVEL 1;
COMP "pinG4" LOCATE = SITE "P138" LEVEL 1;
COMP "pinG5" LOCATE = SITE "P140" LEVEL 1;
COMP "pinG6" LOCATE = SITE "P142" LEVEL 1;
COMP "pinG7" LOCATE = SITE "P1" LEVEL 1;
COMP "pinG8" LOCATE = SITE "P5" LEVEL 1;
COMP "pinR0" LOCATE = SITE "P126" LEVEL 1;
COMP "pinR1" LOCATE = SITE "P131" LEVEL 1;
COMP "pinR2" LOCATE = SITE "P133" LEVEL 1;
COMP "pinR3" LOCATE = SITE "P137" LEVEL 1;
COMP "pinR4" LOCATE = SITE "P139" LEVEL 1;
COMP "pinR5" LOCATE = SITE "P141" LEVEL 1;
COMP "pinR6" LOCATE = SITE "P143" LEVEL 1;
COMP "pinR7" LOCATE = SITE "P2" LEVEL 1;
COMP "pinR8" LOCATE = SITE "P6" LEVEL 1;
COMP "A" LOCATE = SITE "P41" LEVEL 1;
COMP "B" LOCATE = SITE "P40" LEVEL 1;
COMP "C" LOCATE = SITE "P35" LEVEL 1;
COMP "D" LOCATE = SITE "P34" LEVEL 1;
COMP "E" LOCATE = SITE "P32" LEVEL 1;
COMP "F" LOCATE = SITE "P29" LEVEL 1;
COMP "G" LOCATE = SITE "P27" LEVEL 1;
COMP "P47" LOCATE = SITE "P47" LEVEL 1;
COMP "P48" LOCATE = SITE "P48" LEVEL 1;
COMP "com0" LOCATE = SITE "P44" LEVEL 1;
COMP "com1" LOCATE = SITE "P43" LEVEL 1;
COMP "com2" LOCATE = SITE "P33" LEVEL 1;
COMP "com3" LOCATE = SITE "P30" LEVEL 1;
SCHEMATIC END;

