//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 04 17:55:59 2020
//! **************************************************************************

SCHEMATIC START;
COMP "L1_P81" LOCATE = SITE "P74" LEVEL 1;
COMP "BIn<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "BIn<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "BIn<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "BIn<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "BIn<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "BIn<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "BIn<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "BIn<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "COM_0" LOCATE = SITE "P44" LEVEL 1;
COMP "COM_1" LOCATE = SITE "P43" LEVEL 1;
COMP "COM_2" LOCATE = SITE "P33" LEVEL 1;
COMP "COM_3" LOCATE = SITE "P30" LEVEL 1;
COMP "pb1P45" LOCATE = SITE "P45" LEVEL 1;
COMP "pb2P46" LOCATE = SITE "P46" LEVEL 1;
COMP "AIn<0>" LOCATE = SITE "P99" LEVEL 1;
COMP "A7" LOCATE = SITE "P41" LEVEL 1;
COMP "AIn<1>" LOCATE = SITE "P100" LEVEL 1;
COMP "B7" LOCATE = SITE "P40" LEVEL 1;
COMP "AIn<2>" LOCATE = SITE "P101" LEVEL 1;
COMP "C7" LOCATE = SITE "P35" LEVEL 1;
COMP "AIn<3>" LOCATE = SITE "P102" LEVEL 1;
COMP "D7" LOCATE = SITE "P34" LEVEL 1;
COMP "AIn<4>" LOCATE = SITE "P104" LEVEL 1;
COMP "E7" LOCATE = SITE "P32" LEVEL 1;
COMP "AIn<5>" LOCATE = SITE "P105" LEVEL 1;
COMP "OSC123" LOCATE = SITE "P123" LEVEL 1;
COMP "F7" LOCATE = SITE "P29" LEVEL 1;
COMP "AIn<6>" LOCATE = SITE "P111" LEVEL 1;
COMP "G7" LOCATE = SITE "P27" LEVEL 1;
COMP "AIn<7>" LOCATE = SITE "P112" LEVEL 1;
COMP "L0_P82" LOCATE = SITE "P67" LEVEL 1;
SCHEMATIC END;

