

NET "A" LOC = P41;
NET "B" LOC = P40;
NET "C" LOC = P35;
NET "CLK" LOC = P123;
NET "Com0" LOC = P44;
NET "Com1" LOC = P43;
NET "Com2" LOC = P33;
NET "Com3" LOC = P30;
NET "D" LOC = P34;
NET "E" LOC = P32;
NET "F" LOC = P29;
NET "G" LOC = P27;
NET "P83" LOC = P47;
NET "P84" LOC = P48;
