//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 23 15:58:18 2021
//! **************************************************************************

SCHEMATIC START;
COMP "F" LOCATE = SITE "P29" LEVEL 1;
COMP "G" LOCATE = SITE "P27" LEVEL 1;
COMP "P83" LOCATE = SITE "P47" LEVEL 1;
COMP "P84" LOCATE = SITE "P48" LEVEL 1;
COMP "CLK" LOCATE = SITE "P123" LEVEL 1;
COMP "Com0" LOCATE = SITE "P44" LEVEL 1;
COMP "Com1" LOCATE = SITE "P43" LEVEL 1;
COMP "Com2" LOCATE = SITE "P33" LEVEL 1;
COMP "Com3" LOCATE = SITE "P30" LEVEL 1;
COMP "A" LOCATE = SITE "P41" LEVEL 1;
COMP "B" LOCATE = SITE "P40" LEVEL 1;
COMP "C" LOCATE = SITE "P35" LEVEL 1;
COMP "D" LOCATE = SITE "P34" LEVEL 1;
COMP "E" LOCATE = SITE "P32" LEVEL 1;
SCHEMATIC END;

