//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 15 21:25:00 2021
//! **************************************************************************

SCHEMATIC START;
COMP "R0" LOCATE = SITE "P126" LEVEL 1;
COMP "R1" LOCATE = SITE "P131" LEVEL 1;
COMP "R2" LOCATE = SITE "P133" LEVEL 1;
COMP "R3" LOCATE = SITE "P137" LEVEL 1;
COMP "R4" LOCATE = SITE "P139" LEVEL 1;
COMP "R5" LOCATE = SITE "P141" LEVEL 1;
COMP "R6" LOCATE = SITE "P143" LEVEL 1;
COMP "R7" LOCATE = SITE "P2" LEVEL 1;
COMP "R8" LOCATE = SITE "P6" LEVEL 1;
COMP "G0" LOCATE = SITE "P124" LEVEL 1;
COMP "G1" LOCATE = SITE "P127" LEVEL 1;
COMP "G2" LOCATE = SITE "P132" LEVEL 1;
COMP "G3" LOCATE = SITE "P134" LEVEL 1;
COMP "G4" LOCATE = SITE "P138" LEVEL 1;
COMP "G5" LOCATE = SITE "P140" LEVEL 1;
COMP "G6" LOCATE = SITE "P142" LEVEL 1;
COMP "G7" LOCATE = SITE "P1" LEVEL 1;
COMP "G8" LOCATE = SITE "P5" LEVEL 1;
SCHEMATIC END;

